In [2]:
# Reversing a String

a = "Hello"

a[ : : -1]

'olleH'

In [3]:
import pandas as pd

# Series

obj = pd.Series([4, 7, -5, 3])

obj

0    4
1    7
2   -5
3    3
dtype: int64

In [7]:
# Object Values

obj.values

array([ 4,  7, -5,  3])

In [10]:
# Object index

obj.index = ["a", "b", "c", "d"]

obj

a    4
b    7
c   -5
d    3
dtype: int64

In [11]:
obj_2 = pd.Series([10, 20, 30, 40], index= ["p", "q", "r", "s"])

obj_2

p    10
q    20
r    30
s    40
dtype: int64

In [13]:
# Using list of labels to index Series array

obj_2[["p", "r"]]

p    10
r    30
dtype: int64

In [14]:
# Filtering 

obj_2[obj_2 <= 25 ]

p    10
q    20
dtype: int64

In [15]:
# Multiplying the array

obj * 10

a    40
b    70
c   -50
d    30
dtype: int64

In [17]:
"d" in obj

True

In [19]:
#Converting a dictionary to a series

s_data = {"Ohio" : 3500, "Texas" : 7100, "Oregon" : 1600, "Utah" : 500}

s_data_series = pd.Series(s_data)

s_data_series

Ohio      3500
Texas     7100
Oregon    1600
Utah       500
dtype: int64

In [20]:
# The name of the series and index 

s_data_series.name = "Population"

s_data_series.index.name = "State"

s_data_series

State
Ohio      3500
Texas     7100
Oregon    1600
Utah       500
Name: Population, dtype: int64

In [21]:
# Altering index names

s_data_series.index = ["Accra", "Kumasi", "Swedru", "Mankesim"]

s_data_series

Accra       3500
Kumasi      7100
Swedru      1600
Mankesim     500
Name: Population, dtype: int64

In [23]:
# Dataframes

pop_data = { "State" : ["Accra", "Sunyani", "Wa", "Tamale", "Wenchi"], "Year" : [2000, 2002, 2005, 2010, 2020], "Pop" : [1.5, 1.7, 3.6, 2.4, 0.4]}

pop_data_frame = pd.DataFrame(pop_data)

pop_data_frame

     State  Year  Pop
0    Accra  2000  1.5
1  Sunyani  2002  1.7
2       Wa  2005  3.6
3   Tamale  2010  2.4
4   Wenchi  2020  0.4

In [24]:
# Selecting only a few rows to output

pop_data_frame.head()

     State  Year  Pop
0    Accra  2000  1.5
1  Sunyani  2002  1.7
2       Wa  2005  3.6
3   Tamale  2010  2.4
4   Wenchi  2020  0.4

In [25]:
# Specifying a sequence of columns

pop_data_frame = pd.DataFrame(pop_data, columns=["Year", "State", "Pop"])

pop_data_frame

   Year    State  Pop
0  2000    Accra  1.5
1  2002  Sunyani  1.7
2  2005       Wa  3.6
3  2010   Tamale  2.4
4  2020   Wenchi  0.4

In [28]:
# Adding index names a new column

Prop = [0.2, 0.4, 0.23, 0.19, 0.3]

pop_data_frame = pd.DataFrame(pop_data, columns= ["Year", "State", "Pop"], index= ["one", "two", "three", "four", "five"])

pop_data_frame["Prop"] = Prop

pop_data_frame

       Year    State  Pop  Prop
one    2000    Accra  1.5  0.20
two    2002  Sunyani  1.7  0.40
three  2005       Wa  3.6  0.23
four   2010   Tamale  2.4  0.19
five   2020   Wenchi  0.4  0.30

In [29]:
# To assign values to exact labels, use a series

Labor_rate = pd.Series([5, 7, 3], index=["one", "four", "five"])

pop_data_frame["Labor_rate"] = Labor_rate

pop_data_frame

       Year    State  Pop  Prop  Labor_rate
one    2000    Accra  1.5  0.20         5.0
two    2002  Sunyani  1.7  0.40         NaN
three  2005       Wa  3.6  0.23         NaN
four   2010   Tamale  2.4  0.19         7.0
five   2020   Wenchi  0.4  0.30         3.0

In [30]:
# Column headers

pop_data_frame.columns

Index(['Year', 'State', 'Pop', 'Prop', 'Labor_rate'], dtype='object')

In [31]:
# Nested Dicts

pop = {"Nevada" : {2001: 2.2,2002: 2.4, 2003: 4.3, 2004: 5.7}, "Ohio" : {2001: 4, 2002: 5.6, 2003: 8.8, 2004: 4.3}}

pop_frame = pd.DataFrame(pop)

pop_frame

      Nevada  Ohio
2001     2.2   4.0
2002     2.4   5.6
2003     4.3   8.8
2004     5.7   4.3

In [32]:
# Transposing data

pop_frame.T

        2001  2002  2003  2004
Nevada   2.2   2.4   4.3   5.7
Ohio     4.0   5.6   8.8   4.3

In [36]:
# Index Series


import numpy as np


obj = pd.Series(range(5), index= ["p", "q", "r", "s", "t"])

indexes = obj.index

indexes

Index(['p', 'q', 'r', 's', 't'], dtype='object')

In [35]:
# Indexing

indexes[1 : ]

Index(['q', 'r', 's', 't'], dtype='object')

In [39]:
# Index

labels = pd.Index(np.arange(1,6))

labels

Int64Index([1, 2, 3, 4, 5], dtype='int64')

In [40]:
# Index

obj_2 = pd.Series([10, 20, 30, 40, 50], index= labels)

obj_2

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [41]:
# Essential Functionality

obj = pd.Series([4.5, 7.2, -5.3, 3.6], index= ["w", "x", "y", "z"])

obj

w    4.5
x    7.2
y   -5.3
z    3.6
dtype: float64

In [42]:
# Reindex

obj_2 = obj.reindex(["z", "y", "x", "w"])

obj_2

z    3.6
y   -5.3
x    7.2
w    4.5
dtype: float64

In [43]:
# Dataframe

frame = pd.DataFrame(np.arange(10).reshape((5,2)), index= ["p", "q", "r", "s", "t"], columns=[ "Mankessim", "KwameDanso"])

frame

   Mankessim  KwameDanso
p          0           1
q          2           3
r          4           5
s          6           7
t          8           9

In [45]:
# Dropping Entries from an Axis

frame_2 = frame.drop("r")

frame_2

   Mankessim  KwameDanso
p          0           1
q          2           3
s          6           7
t          8           9

In [46]:
# Dropping more than one entry

frame_3 = frame.drop(["p", "r"])

frame_3

   Mankessim  KwameDanso
q          2           3
s          6           7
t          8           9

In [47]:
# Inplace filtering without returning a new object

frame.drop(["q", "s"], inplace= True)

frame

   Mankessim  KwameDanso
p          0           1
r          4           5
t          8           9

In [48]:
# Indexing, Selection, and Filtering: Series edition

obj = pd.Series(np.arange(10.), index=["k", "l", "m", "n", "o", "p", "q", "r", "s","t"])

obj

k    0.0
l    1.0
m    2.0
n    3.0
o    4.0
p    5.0
q    6.0
r    7.0
s    8.0
t    9.0
dtype: float64

In [50]:
# Indexing, Selection, and Filtering: Series edition

obj["s"]

8.0

In [51]:
# Indexing, Selection, and Filtering: Series edition

obj[1]

1.0

In [52]:
# Indexing, Selection, and Filtering: Series edition

obj[2:4]

m    2.0
n    3.0
dtype: float64

In [53]:
# Indexing, Selection, and Filtering: Series edition

obj[["k", "p", "m"]]

k    0.0
p    5.0
m    2.0
dtype: float64

In [54]:
# Indexing, Selection, and Filtering: Series edition

obj[[1, 3, 5]]

l    1.0
n    3.0
p    5.0
dtype: float64

In [55]:
# Indexing, Selection, and Filtering: Series edition

obj[obj > 5]

q    6.0
r    7.0
s    8.0
t    9.0
dtype: float64

In [56]:
# Indexing, Selection, and Filtering: Series edition


# Slicing with labels behaves differently than normal python slicing in that the end-point is inclusive
obj["k" : "q"]

k    0.0
l    1.0
m    2.0
n    3.0
o    4.0
p    5.0
q    6.0
dtype: float64

In [58]:
# Indexing, Selection, and Filtering: Series edition

obj["k" : "m"] = [100, 200, 300]

obj

k    100.0
l    200.0
m    300.0
n      3.0
o      4.0
p      5.0
q      6.0
r      7.0
s      8.0
t      9.0
dtype: float64

In [62]:
# Indexing, Selection, and Filtering: DataFrame edition


obj = pd.DataFrame(np.arange(20).reshape((5,4)), columns=["Accra", "Mankessim", "Drobo", "Sefwi"])

obj

   Accra  Mankessim  Drobo  Sefwi
0      0          1      2      3
1      4          5      6      7
2      8          9     10     11
3     12         13     14     15
4     16         17     18     19

In [63]:
# Indexing, Selection, and Filtering: DataFrame edition


obj["Accra"]

0     0
1     4
2     8
3    12
4    16
Name: Accra, dtype: int64

In [64]:
# Indexing, Selection, and Filtering: DataFrame edition

obj[["Mankessim", "Sefwi"]]

   Mankessim  Sefwi
0          1      3
1          5      7
2          9     11
3         13     15
4         17     19

In [65]:
# Indexing, Selection, and Filtering: DataFrame edition

obj[:3]

   Accra  Mankessim  Drobo  Sefwi
0      0          1      2      3
1      4          5      6      7
2      8          9     10     11

In [69]:
# Indexing, Selection, and Filtering: DataFrame edition

obj[obj["Accra"] < 5]

   Accra  Mankessim  Drobo  Sefwi
0      0          1      2      3
1      4          5      6      7

In [71]:
# Indexing, Selection, and Filtering: DataFrame edition

obj[obj < 8]

   Accra  Mankessim  Drobo  Sefwi
0    0.0        1.0    2.0    3.0
1    4.0        5.0    6.0    7.0
2    NaN        NaN    NaN    NaN
3    NaN        NaN    NaN    NaN
4    NaN        NaN    NaN    NaN

In [72]:
# Selection with loc and iloc

# Single row with multiple columns


obj.loc[[0], ["Sefwi", "Accra"]]

   Sefwi  Accra
0      3      0

In [74]:
# Selection with loc and iloc

# Single row with multiple columns with iloc

obj.iloc[[2], [3, 2, 1]]

   Sefwi  Drobo  Mankessim
2     11     10          9

In [75]:
# Selection with loc and iloc

# Multiple row with multiple columns with iloc

obj.iloc[[4, 2, 0], [3, 2, 1]]

   Sefwi  Drobo  Mankessim
4     19     18         17
2     11     10          9
0      3      2          1

In [76]:
obj.iloc[ :, : 3][obj.Mankessim > 5]

   Accra  Mankessim  Drobo
2      8          9     10
3     12         13     14
4     16         17     18

In [1]:
# Formatting Strings Presentation Types

f"{17.886:.2f}"

'17.89'

In [2]:
# Formatting Strings Presentation Types

f"{10:d}"

'10'

In [3]:
from decimal import Decimal

f"{Decimal(1000000.0):.3f}"

'1000000.000'

In [4]:
# Self Check

f"{58:c} {45:c} {41:c}"

': - )'

In [5]:
# Field width
f"{100:10d}"

'       100'

In [6]:
f"{3.5:10f}"

'  3.500000'

In [8]:
f"[{'hello':10}]"

'[hello     ]'

In [9]:
f"[{27:<15d}]"

'[27             ]'

In [12]:
f"[{3.5:<15f}]"

'[3.500000       ]'

In [14]:
f"[{'hello':>15}]"

'[          hello]'

In [16]:
f"[{27:^7}]"

'[  27   ]'

In [17]:
f"[{'Amanda':>10}]"

'[    Amanda]'

In [18]:
f"[{'Amanda':^10}]"

'[  Amanda  ]'

In [19]:
f"[{'Amanda':<10}]"

'[Amanda    ]'

In [20]:
# Numeric Strings formatting

f"[{27:+10d}]"

'[       +27]'

In [21]:
# Numeric Strings formatting

f"[{27:+010d}]"

'[+000000027]'

In [22]:
# Numeric Strings formatting


print(f"{27:d} \n{-27: d}")

27
-27

In [23]:
# Numeric Strings formatting

f"[{1234556789:,d}]"

'[1,234,556,789]'

In [24]:
# Numeric Strings formatting

f"[{1234556789:,.2f}]"

'[1,234,556,789.00]'

In [25]:
# Strings format method

"{:.2f}".format(17.489)

'17.49'

In [26]:
# Strings format method


"{} {} {}".format("Amanda", "Gloria", "Cecilia")

'Amanda Gloria Cecilia'

In [27]:
# Strings format method

"{0} {1} {1}".format("Thanks", "all")

'Thanks all all'

In [28]:
# String Concatenation and Repeating Strings

s_1 = "Happy"

s_2 = "Birthday"

s_1 += " " + s_2

s_1

'Happy Birthday'

In [29]:
# String Concatenation and Repeating Strings

"*" * 10

'**********'

In [32]:
# Stripping whitespace from strings

sentence = "\t \n This is a test string. \t\t \n"

sentence.strip()

'This is a test string.'

In [33]:
# Stripping whitespace from strings

sentence = "\t \n This is a test string. \t\t \n"

sentence.lstrip()

'This is a test string. \t\t \n'

In [34]:
# Stripping whitespace from strings

sentence = "\t \n This is a test string. \t\t \n"

sentence.rstrip()

'\t \n This is a test string.'

In [35]:
# Changing Character Case

"happy birthday".capitalize()

'Happy birthday'

In [36]:
"strings a deepper look".title()

'Strings A Deepper Look'

In [37]:
# Comparison Operators for Strings

"Orange" == "orange"

False

In [38]:
# Comparison Operators for Strings

"Orange" != "orange"

True

In [39]:
# Searching substrings within 

sentence = "to be or not to be that is the question"

sentence.count("to")

2

In [41]:
# Searching substrings within a string afer index 5

sentence.count("to", 5)

1

In [42]:
# Searching index of substrings within a string 

sentence.index("be")

3

In [43]:
# Searching index of substrings within a string

sentence.rindex("be")

16

In [44]:
# Testing for containment

"that" in sentence

True

In [45]:
# Testing for containment

"That" in sentence

False

In [46]:
# Testing for containment

"that" not in sentence

False

In [47]:
# Searching index of substrings within a string

sentence.startswith("to")

True

In [48]:
# Searching index of substrings within a string

sentence.startswith("quest")

False

In [51]:
# Self Check

for word in sentence.split():
    if word.startswith("t"):
        print(word, end=" ")

to to that the

In [55]:
# Replacing substrings

values = "1\t2\t3\t4\t5"

values.replace("\t", ",")

'1,2,3,4,5'

In [57]:
# Self Check

values = "1 2 3 4 5"

values.replace(" ", "-->")

'1-->2-->3-->4-->5'

In [58]:
# Splitting and Joining Strings

letters = "A, B, C, D"

letters.split() # This split work on whitespace

['A,', 'B,', 'C,', 'D']

In [60]:
# Splitting and Joining Strings

letters = "A, B, C, D"

letters.split(", ") # This split work on commas and space

['A', 'B', 'C', 'D']

In [61]:
# Joining strings

letters_list = ["A", "B", "C", "D"]

",".join(letters_list)

'A,B,C,D'

In [63]:
# Joining strings

",".join([str(i) for i in range(9)])

'0,1,2,3,4,5,6,7,8'

In [64]:
# Partition a string at a particular location

"Amanda: 89, 97, 92".partition(": ")

('Amanda', ': ', '89, 97, 92')

In [66]:
# Splitlines

lines = """ This is line 1
and line 2
and line 3 """

In [67]:
# Splitlines
lines.splitlines()

[' This is line 1', 'and line 2', 'and line 3 ']

In [71]:
# Self Check

name = "Pamela White"

", ".join(name.split()[ : : -1])

'White, Pamela'

In [74]:
# Self Check

url = "http://www.deitel.com/books/PyCDS/table_of_contents.html"


protocol, separator, rest_of_url = url.partition("://")

In [75]:
protocol

'http'

In [76]:
separator

'://'

In [77]:
rest_of_url

'www.deitel.com/books/PyCDS/table_of_contents.html'

In [78]:
host, separator, document_with_path = rest_of_url.partition("/")

document_with_path

'books/PyCDS/table_of_contents.html'

In [84]:
rest , separator, document_name = document_with_path.rpartition("/")

document_name

'table_of_contents.html'

In [85]:
# Character and Character-Testing Methods

"-27".isdigit()

False

In [86]:
# Character and Character-Testing Methods

"27".isdigit()

True

In [87]:
# Character and Character-Testing Methods

"A9876".isalnum()

True

In [88]:
# Character and Character-Testing Methods

"P. O. Box C. E. 12100".isalnum()

False

In [89]:
# Raw Strings

file_path = r"C:\Users\Mlomo\Desktop\Apps"

file_path

'C:\\Users\\Mlomo\\Desktop\\Apps'

In [90]:
# Regular Expressions

import re

pattern = "02215"

"Match" if re.fullmatch(pattern, "02215") else "No Match"

'Match'

In [91]:
# Regular Expressions

import re

pattern = "02215"

"Match" if re.fullmatch(pattern, "51220") else "No Match"

'No Match'

In [92]:
# Regular Expressions

"Valid" if re.fullmatch(r"\d{5}" , "00233") else "Invalid"

# Valid if five consecutive numbers

'Valid'

In [93]:
# Regular Expressions

"Valid" if re.fullmatch(r"\d{5}" , "9903") else "Invalid"

# Valid if five consecutive numbers

'Invalid'

In [95]:
# Custom Character Classes

"Valid" if re.fullmatch("[A-Z][a-z]*", "Marvin") else "Invalid"

# The special character maps to first character being a Capital letter followed by 0 or more lowercase letters

'Valid'

In [96]:
# Custom Character Classes

"Valid" if re.fullmatch("[A-Z][a-z]*", "alvin") else "Invalid"

# The special character maps to first character being a Capital letter followed by 0 or more lowercase letters

'Invalid'

In [98]:
# Custom Character Classes


"Match" if re.fullmatch("[^A-Z]", "Marvin") else "No match"

# Text must NOT begin with a lowercase

'No match'

In [99]:
# Custom Character Classes


"Match" if re.fullmatch("[A-Z][a-z]", "M") else "No match"

# Text must  begin with an uppercase followed by atleast ONE lowercase

'No match'

In [100]:
# Custom Character Classes


"Valid" if re.fullmatch("labell?ed", "labeled") else "Invalid"

# 0 or one more "l" allowed

'Valid'

In [101]:
# Custom Character Classes


"Valid" if re.fullmatch("labell?ed", "labelled") else "Invalid"

# 0 or one more "l" allowed

'Valid'

In [102]:
# Regular Expressions

"Valid" if re.fullmatch(r"\d{5,10}" , "99493403") else "Invalid"

# Valid if between five and 10 consecutive numbers

'Valid'

In [103]:
# Regular Expressions

"Valid" if re.fullmatch(r"\d{5,10}" , "9403") else "Invalid"

# Valid if between five and 10 consecutive numbers

'Invalid'

In [107]:
# Search

import re

sentence = "I am loving the Python syntax"


result = re.search("Python", sentence)

result.group() if result else "not found"


# The group syntax returns the substring

'Python'

In [108]:
# Search

import re

sentence = "I am loving the Python syntax"


result = re.search("tax", sentence)

result.group() if result else "not found"

# The group syntax returns the substring

'tax'

In [109]:
Clinical_Data = ["Brown, Sue", 98.6, 98.4, 98.7, 0]

Clinical_Data[0]

'Brown, Sue'

In [111]:
# Data Validation

import pandas as pd

zips = pd.Series({"Boston" : "02215", "Miami" : "2210"})

zips

Boston    02215
Miami      2210
dtype: object

In [117]:
zips[zips.str.match(r"\d{5}") == True]

Boston    02215
dtype: object

In [116]:
# Does the string contain this?

cities = pd.Series(["Boston, MA 02215", "Miami, FL 33101"])

# Does the string contain state abbreviations

cities.str.contains(r" [A-Z]{2} ")

0    True
1    True
dtype: bool

In [4]:
if 5 < 7:
    print("Yes")
elif 5 < 6:
    print("Yup")

Yes

In [5]:
# Using regular expressions


# Importing the package

import re


# Reference code

pattern = "00233"


# Matching the Code with text

"Match" if re.fullmatch(pattern, "00234") else "No match"

'No match'

In [6]:
# raw strings  - Metacharacters

"Valid" if re.fullmatch(r"\d{5}", "00234") else "Invalid"

# Check for 5 consecutive digits

'Valid'

In [7]:
# raw strings  - Metacharacters

"Valid" if re.fullmatch(r"\d{5}", "0034") else "Invalid"

# Check for 5 consecutive digits

'Invalid'

In [9]:
# Creating custom patterns

# raw strings  - Metacharacters

"Valid" if re.fullmatch("[A-Z][a-z]*", "Wally") else "Invalid"

# Check for a pattern that starts with a capital letter followed by small letters

'Invalid'

In [12]:
# Creating custom patterns

# raw strings  - Metacharacters

"Valid" if re.fullmatch("[^a-z]*", "1") else "Invalid"

# Check for a pattern that does not match lowercase a-z

'Valid'

In [13]:
# Creating custom patterns

# raw strings  - Metacharacters

"Valid" if re.fullmatch("[+]"r"\d{3}", "+233") else "Invalid"

# Check for a pattern that begins with a "+" followed by three digits

'Valid'

In [19]:
# Creating custom patterns

# raw strings  - Metacharacters

"Valid" if re.fullmatch("[A-Z][a-z]+", "Wally") else "Invalid"

# Check for a pattern that begins with a capital letter followed by atleast one small leter

'Valid'

In [20]:
# Creating custom patterns

# raw strings  - Metacharacters

"Valid" if re.fullmatch("labell?ed", "labeled") else "Invalid"

# Check for a pattern that would match one or two l's

'Valid'

In [21]:
# Creating custom patterns

# raw strings  - Metacharacters

"Valid" if re.fullmatch("labell?ed", "labelled") else "Invalid"

# Check for a pattern that would match one or two l's

'Valid'

In [24]:
# Creating custom patterns

# raw strings  - Metacharacters

"Valid" if re.fullmatch(r"\d{3,}", "123") else "Invalid"

# Check for a pattern that would match atleast 3 digits

'Valid'

In [25]:
# Creating custom patterns

# raw strings  - Metacharacters

"Valid" if re.fullmatch(r"\d{3,6}", "12367") else "Invalid"

# Check for a pattern that would match atleast 3 digits or atmost 6

'Valid'

In [26]:
# Creating custom patterns

# raw strings  - Metacharacters

"Valid" if re.fullmatch(r"\d+ [A-Z][a-z]* [A-Z][a-z]*", "123 Main Street") else "Invalid"

# Check for a pattern that would match atleast 3 digits

'Valid'

In [27]:
# Placing and Splitting substrings

# Substituting all "\t" in a string with ","

a_String = "1\t2\t3\t4\t5" 

re.sub(r"\t", ", ", a_String)

'1, 2, 3, 4, 5'

In [28]:
# Placing and Splitting substrings

# Substituting the first 2 "\t" in a string with ","

a_String = "1\t2\t3\t4\t5" 

re.sub(r"\t", ", ", a_String, count= 2)

'1, 2, 3\t4\t5'

In [30]:
# Placing and Splitting substrings

# Splitting a string into a List

a_String = "1,   2,3,  4, 5,6,7" 

re.split(r",\s*", a_String)

# split this string along any white space character

['1', '2', '3', '4', '5', '6', '7']

In [42]:
# Search Functions


result = re.search("Python", "Python is fun. Love Python!")

result.group() if result else "Not found"

'Python'

In [33]:
# Ignoring case sensitivenes


result_2 = re.search("Sam","SAM WHITE", flags= re.IGNORECASE)

result_2.group() if result else "Not found"

'SAM'

In [39]:
# Match only at the end of the string


result_3 = re.search("fun$", "Python is fun")

result_3.group() if result else "Not found"

'fun'

In [43]:
# Finding all matches in a string

contact = "Wally White, Home:555-555-1234, Work: 555-555-4321"


re.findall(r"\d{3}-\d{3}-\d{4}", contact)

['555-555-1234', '555-555-4321']

In [45]:
# Finding all matches in a string and producing an iterable

contact = "Wally White, Home:555-555-1234, Work: 555-555-4321"


for phone in re.finditer(r"\d{3}-\d{3}-\d{4}", contact):
    print(phone.group())

555-555-1234
555-555-4321

In [46]:
# Capturing substrings

text = "Charlie Cyan, email: demo1@deitel.com"


pattern = r"([A-Z][a-z]+ [A-Z][a-z]+), email: (\w+@\w+\.\w{3})"

result_4 = re.search(pattern, text)

result_4.groups()

('Charlie Cyan', 'demo1@deitel.com')

In [47]:
# Capturing substrings

text = "Charlie Cyan, email: demo1@deitel.com"


pattern = r"([A-Z][a-z]+ [A-Z][a-z]+), email: (\w+@\w+\.\w{3})"

result_4 = re.search(pattern, text)

result_4.group()

'Charlie Cyan, email: demo1@deitel.com'

In [48]:
# Capturing substrings

text = "Charlie Cyan, email: demo1@deitel.com"


pattern = r"([A-Z][a-z]+ [A-Z][a-z]+), email: (\w+@\w+\.\w{3})"

result_4 = re.search(pattern, text)

result_4.group(1)

# returning the sub-patterns

'Charlie Cyan'

In [55]:
# Capturing substrings

text = "10 + 5"


pattern = r"(\d+) ([-+*/]) (\d+)"

result_5 = re.search(pattern, text)

result_5.group(3)

# Use the group to match results starting from 1

'5'

In [58]:
# Using Pandas and Regular expressions to validate data

import pandas as pd

zips = pd.Series({"Boston" : "02215", "Miami" : "3310"})

zips

Boston    02215
Miami      3310
dtype: object

In [59]:
# Matching the regular expression against each 

zips.str.match(r"\d{5}")

Boston     True
Miami     False
dtype: bool

In [61]:
cities = pd.Series(["Boston, MA 02215", "Miami, FL 33101"])

cities

0    Boston, MA 02215
1     Miami, FL 33101
dtype: object

In [62]:
cities.str.contains(r" [A-Z]{2} ")

# Check whether the string contains 2 Uppercase Letters with a space before and after

0    True
1    True
dtype: bool

In [65]:

contacts = [["Mike Green", "demo1@deitel.com", "0557299146"], ["Sue Brown", "demo2@deitel.com", "0268389331"]]


# Creating a data frame list

contacts_DF = pd.DataFrame(contacts, columns = ["Name", "Email", "Contact Number"])

contacts_DF

         Name             Email Contact Number
0  Mike Green  demo1@deitel.com     0557299146
1   Sue Brown  demo2@deitel.com     0268389331

In [91]:


contacts_DF.iloc[ : , [2]]

  Contact Number
0     0557299146
1     0268389331

In [105]:
def get_formatted_phone(value):
    result = re.fullmatch(r"(\d{3})(\d{3})(\d{4})", value)
    return "-".join(result.groups()) if result else value

In [107]:
formatted_phone = contacts_DF["Contact Number"].map(get_formatted_phone)


formatted_phone

0    055-729-9146
1    026-838-9331
Name: Contact Number, dtype: object

In [109]:
#Replacing Original Data with formatted data

contacts_DF["Contact Number"] = formatted_phone

In [110]:
contacts_DF

         Name             Email Contact Number
0  Mike Green  demo1@deitel.com   055-729-9146
1   Sue Brown  demo2@deitel.com   026-838-9331

In [129]:
# Self Check


contacts = [["Mike Green", "demo1@deitel.com", "0557299146"], ["Sue Brown", "demo2@deitel.com", "0268389331"]]


# Creating a data frame list

contacts_DF = pd.DataFrame(contacts, columns = ["Name", "Email", "Contact Number"])

# Formatting Function

def get_formatted_phone(value):
    result = re.fullmatch(r"(\d{3})(\d{3})(\d{4})", value)
    if result:
        part_1, part_2, part_3 = result.groups()
        return "(" + part_1 +") " + part_2 + "-" + part_3
    else:
        return value

In [130]:
contacts_DF["Contact Number"] = contacts_DF["Contact Number"].map(get_formatted_phone)


contacts_DF

         Name             Email  Contact Number
0  Mike Green  demo1@deitel.com  (055) 729-9146
1   Sue Brown  demo2@deitel.com  (026) 838-9331