In [1]:
pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.3.3-cp39-cp39-macosx_10_9_x86_64.whl (8.5 MB)
     |████████████████████████████████| 8.5 MB 112 kB/s
Collecting cycler>=0.10
  Downloading cycler-0.10.0-py2.py3-none-any.whl (6.5 kB)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.3.1-cp39-cp39-macosx_10_9_x86_64.whl (61 kB)
     |████████████████████████████████| 61 kB 149 kB/s
Collecting pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3
  Downloading pyparsing-2.4.7-py2.py3-none-any.whl (67 kB)
     |████████████████████████████████| 67 kB 217 kB/s
Requirement already satisfied: python-dateutil>=2.1 in /Users/marvinlomo/Library/Python/3.9/lib/python/site-packages (from matplotlib) (2.8.1)
Collecting pillow>=6.2.0
  Downloading Pillow-8.0.1-cp39-cp39-macosx_10_10_x86_64.whl (2.2 MB)
     |████████████████████████████████| 2.2 MB 403 kB/s
Collecting numpy>=1.15
  Downloading numpy-1.19.4-cp39-cp39-macosx_10_9_x86_64.whl (15.4 MB)
     |████████████████████████████████| 15.4 MB 157 kB/s
Requirement already satisfied: six in /Users/marvinlomo/Library/Python/3.9/lib/python/site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Installing collected packages: cycler, kiwisolver, pyparsing, pillow, numpy, matplotlib
Successfully installed cycler-0.10.0 kiwisolver-1.3.1 matplotlib-3.3.3 numpy-1.19.4 pillow-8.0.1 pyparsing-2.4.7
WARNING: You are using pip version 20.2.3; however, version 20.3.3 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.9/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install nodejs

Collecting nodejs
  Downloading nodejs-0.1.1.tar.gz (2.3 kB)
Collecting optional-django==0.1.0
  Downloading optional-django-0.1.0.tar.gz (9.5 kB)
Using legacy 'setup.py install' for nodejs, since package 'wheel' is not installed.
Using legacy 'setup.py install' for optional-django, since package 'wheel' is not installed.
Installing collected packages: optional-django, nodejs
    Running setup.py install for optional-django ... done
    Running setup.py install for nodejs ... done
Successfully installed nodejs-0.1.1 optional-django-0.1.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
# Assignment statement

x = 7

y = 3

In [3]:
# Lets do more with the assignments

total = x + y

In [5]:
type(total)

int

In [6]:
total_2 = 10.7 + 12.2 + 0.2

In [7]:
total_2

23.099999999999998

In [8]:
# Remainder Operator

15 % 4

3

In [9]:
13 // 4

3

In [10]:
-13 // 4

-4

In [11]:
3 * (4 - 5)

-3

In [12]:
3 * 4 - 5

7

In [13]:
4 ** 3 ** 2

262144

In [14]:
(4 ** 3) ** 2

4096

In [15]:
4 ** (3 ** 2)

262144

In [17]:
# Displaying on the same line

print('Welcome to Python!')

Welcome to Python!

In [18]:
# Dropping the cursor to a newline

print('Welcome \nto\nPython')

Welcome
to
Python

In [19]:
# The string type

type('word')

str

In [20]:
# Converting data types

print('int(5.2)', 'truncates 5.2 to', int(5.2))

int(5.2) truncates 5.2 to 5

In [1]:
# Single and double-quoted characters


print('Display "hi" in quotes').    # Within a single quoted string, its okay to use a double-quoted string within the single quotes.

Display "hi" in quotes

In [2]:
# Or

print("Display 'hi' in quotes")

Display 'hi' in quotes

In [4]:
# Tripple quoted characters

print("""Display "hi" and 'bye' in quotes""")

Display "hi" and 'bye' in quotes

In [6]:
# The tripple-quoted string is used for strings spanning more than one line


triple_quoted_string = """ This is a tripple-quoted
string that spans two lines"""

In [7]:
print(triple_quoted_string)

 This is a tripple-quoted
string that spans two lines

In [8]:
# Receiving an argument from a user

name = input("What's your name? ")

In [9]:
name

'Marvin'

In [10]:
print(name)

Marvin

In [11]:
value_1 = input("Enter first number: ")

In [12]:
value_2 = input("Enter second number: ")

In [13]:
# Lets do an addition of the inputs

# Remember that value_1 and value_2 are strings

value_1 + value_2

'100150'

In [16]:
# But we want numbers

value_3 = int(input(" Enter an integer:  "))

value_4 = int(input(" Enter an integer:  "))

value_3 + value_4

250

In [17]:
# Chained Operators

x = 3

1 <= x <=5

True