In [4]:
# if statement 

# Note that in this case when the condition is false, nothing gets printed

# The code suite in an if statement is executed ONLY if the condition is TRUE
def grading(grade):
    if grade >= 60:
        print("Passed")
        print("Good job!")

In [5]:
grading(grade=80)

Passed
Good job!

In [6]:
# if-else statement 

# Note that in this case when the condition is false, the else suite (code-block) is printed

# The code suite in an if statement is executed ONLY if the condition is TRUE and else is executed otherwise
def grading(grade):
    if grade >= 60:
        print("Passed")
        print("Good job!")

    else:
        print("Please retake this course")

In [7]:
grading(grade=50)

Please retake this course

In [8]:
# if-elif-else statement 

# Note that in this case when the condition is false, the elif suite (code-block) is checked

# The code suite in an if-elif statement is executed ONLY if the condition is TRUE and else is executed otherwise
def grading(grade):
    if grade >= 90:
        print("A")
        print("Passed")
        print("Good job!")

    elif grade >= 80:
        print("B")

    elif grade >= 70:
        print("C")

    elif grade >= 60:
        print("D")

    else:
        print("Please retake this course")

In [9]:
grading(grade=77)

C

In [11]:
# while loop

# First multiple of 3 greater than 50


product = 3

while product <= 50:
    product = product * 3

product

81

In [12]:
# First power of 7 greater than 1000

multiple = 7

while multiple <= 1000:
    multiple = multiple * 7

multiple

2401

In [16]:
# Iterating through a sequence of items

# Note: a string is a sequence of characters

for i in "EUNICE":
    print(i, end="  ") # Note that the end="  " means that the outputs must be on the same line using the separator specified

E  U  N  I  C  E

In [14]:
# Iterating through a sequence of items

# Note: a string is a sequence of characters

for i in "EUNICE":
    print(i) # Cursor automatically drops to the next line

E
U
N
I
C
E

In [25]:
# Iterating through a sequence of items

# Note: a string is a sequence of characters

for i in "EUNICE":
    print(i, end=' , ') # end= ' , ' makes the output print on the same line separated by the specifier

E , U , N , I , C , E ,

In [24]:
print(10, 20, 30, sep=' , ')

10 , 20 , 30

In [26]:
# List sequences

# A list in Python is defined my square brackets

total = 0

for i in [10 , 20 , -5 , 700 , 59 ]:        # Square bracket creates an iterable
    total = total + i
total

784

In [29]:
# Lets use the range function

# The range function produces an iterable sequence
for i in range(1 , 21):
    print(i, end="  ")

1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20

In [31]:
# Calculating the sum of integers from 1 - 1000000

# This is an accumulator, so lets initialize

total = 0

for i in range(1, 1000001):
    total = total + i

total

500000500000

In [32]:
# Using f-strings

number_1 = 7

number_2 = 5

product = number_1 * number_2

print(f'{number_1} times {number_2} is {product}')

7 times 5 is 35

In [33]:
# Indepth look at the range


for number in range(5, 10):
    print(number, end=' ')

5 6 7 8 9

In [34]:
# Indepth look at the range


for number in range(0, 10, 2):
    print(number, end=' ')

0 2 4 6 8

In [35]:
# Indepth look at the range


for number in range(10, 0, -2):
    print(number, end=' ')

10 8 6 4 2

In [36]:
# Anytime you want to take a feature from a library, please import that library


# Working with decimals (not floating point numbers)

from decimal import Decimal

principal = Decimal( "1000.00" )

In [37]:
principal

Decimal('1000.00')

In [39]:
rate = Decimal( "0.05" )


rate

Decimal('0.05')

In [40]:
x = Decimal( "10.5" )

y = Decimal( "2" )

x + y

Decimal('12.5')

In [42]:
# Compound Interest using the principal and rates given


for year in range(1, 11):
    amount = principal * (1 + rate) ** year
    print(f'{year:>2}{amount:>10.2f}')

 1   1050.00
 2   1102.50
 3   1157.62
 4   1215.51
 5   1276.28
 6   1340.10
 7   1407.10
 8   1477.46
 9   1551.33
10   1628.89

In [46]:
 # Break and continue statements

 for number in range(100):
     if number == 10:
         break 
    print(number, end=" ")

10

In [49]:
 # Break and continue statements

 for number in range(10):
     if number == 5:
         continue 
     print(number, end=" ")

    # Skips the number 5

0 1 2 3 4 6 7 8 9

In [51]:
# Using Boolean Operators and, or, not

gender = "Female"

age = 70

if gender == "Female" and age >= 65:
    print("Senior Female")

Senior Female

In [52]:
# Using Boolean Operators and, or, not

semester_average = 83

final_exam = 95

if semester_average >= 90 or final_exam >= 90:
    print("Student gets an A")

Student gets an A

In [56]:
z = 85

y = 93

x = 45

w = 89

v = 85

grades = [v, w, x, y, z]

grades

[85, 89, 45, 93, 85]

In [57]:
import statistics

statistics.mean(grades)

79.4

In [58]:
statistics.median(grades)

85

In [59]:
statistics.mode(grades)

85