In [1]:
# List are used to store homogenous data - data pf the same type

c = [-45, 6, 0, 72, 1543]

c

[-45, 6, 0, 72, 1543]

In [4]:
# List are mutable hence indexing is done from index number 0

# Displaying the elements of a list

c[0]

-45

In [3]:
# List are mutable hence indexing is done from index number 0

# Displaying the elements of a list

c[1]

6

In [5]:
# List are mutable hence indexing is done from index number 0

# Displaying the elements of a list

c[4]

1543

In [6]:
# The length of a list

len(c)

5

In [7]:
# List are mutable hence indexing is done from index number 0

# Displaying the elements of a list

c[-1]

1543

In [8]:
# List are mutable hence indexing is done from index number 0

# Displaying the elements of a list

c[-5]

-45

In [9]:
# List are mutable hence indexing is done from index number 0

# Displaying the elements of a list

c[-3]

0

In [11]:
# Changing the elements of a list

c[4] = 100

c

[-45, 6, 0, 72, 100]

In [16]:
c + [130]

[-45, 6, 0, 72, 100, 130]

In [12]:
s = "Marvin"


s[1]

'a'

In [13]:
# Strings are NOT imutable

s[1] = "Q"

s

TypeError: 'str' object does not support item assignment

In [15]:
# Lists are modifiable

a_list = []


for number in [10, 20, 30]:
    a_list += [number]

a_list

[10, 20, 30]

In [17]:
letters = []

letters += "Python"

letters

['P', 'y', 't', 'h', 'o', 'n']

In [19]:
list_1 = [10, 20, 30]

list_2 = [1000, 2000]

concatenated_list = list_1 + list_2

concatenated_list

[10, 20, 30, 1000, 2000]

In [20]:
for i in range(len(concatenated_list)):
    print(f" {i}: {concatenated_list[i]} ")

 0: 10
 1: 20
 2: 30
 3: 1000
 4: 2000

In [21]:
# Comparing Lists

a = [1, 2, 3]

b = [1, 2, 3]

c = [3, 1, 2]

d = [1, 2, 3, 4, 5]

In [22]:
a == b

True

In [23]:
a == d

False

In [24]:
a <= d

True

In [25]:
b == c

False

In [29]:
# Creating a list of 1 through 10

y = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def cube_list(numbers):

    """ This function takes in a list and provides the cube of each member """

    x = []

    for i in numbers:
        
        z = i ** 3

        x += [z]

    return x



cube_list(y)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [30]:
characters = []

characters += "Birthday"

characters

['B', 'i', 'r', 't', 'h', 'd', 'a', 'y']

In [37]:
# Tuples

student_tuple = ()

student_tuple

()

In [39]:
student_tuple = "John", "Green", 3.9

student_tuple

('John', 'Green', 3.9)

In [40]:
# Lets check the length of this tuple

len(student_tuple)

3

In [41]:
student_tuple_2 = ("Mary", "Red", 4.0)

student_tuple_2

('Mary', 'Red', 4.0)

In [43]:
# Note that its only a comma that creates a tuple

a_single_tuple = ("red", )

a_single_tuple

('red',)

In [44]:
# Accessing tuple elements

time_tuple = (9, 16, 24)

time_tuple

(9, 16, 24)

In [45]:
# Calculations with the tuple

time_tuple[0] * 3600 + time_tuple[1] * 60 + time_tuple[2]

33384

In [47]:
tuple_1 = (10, 20, 30)

tuple_2 = tuple_1

tuple_2

(10, 20, 30)

In [48]:
tuple_1 += (40, 50)

tuple_1

(10, 20, 30, 40, 50)

In [49]:
tuple_2

(10, 20, 30)

In [50]:
# Interaction between lists and tuples

numbers = [1, 2, 3, 4, 5]

numbers += (6, 7)

numbers

[1, 2, 3, 4, 5, 6, 7]

In [54]:
# Accessing the a list within the tuple

student_tuple = ("Amanda", "Blue", [98, 75, 87])

student_tuple[2][1]

75

In [58]:
# List and tuples 

x = [1, 2, 3]

y = (4, 5, 6)

# You can only add the tuple to the list indexes and not perform ususal addition operations
x += y

x

[1, 2, 3, 4, 5, 6]

In [2]:
letters = []

letters += "Python"

letters

['P', 'y', 't', 'h', 'o', 'n']

In [1]:
#Unpacking a tuple

student_tuple = ("Amanda", [98, 85, 87])

first_name, grades = student_tuple

In [3]:
first_name

'Amanda'

In [4]:
grades

[98, 85, 87]

In [5]:
# Unpacking a string

first, second = "PE"

print(f"{first} {second}")

P E

In [6]:
# Unpacking a list

number_1, number_2, number_3 = [2, 7, 9]

print(f"{number_1} {number_2} {number_3}")

2 7 9

In [7]:
# Unpacking a sequence / range

number_1, number_2, number_3 = range(7, 25, 7)

print(f"{number_1} {number_2} {number_3}")

7 14 21

In [8]:
# Swapping

number_1 = 90

number_2 = 40

number_1, number_2 = (number_2, number_1)

print(f"{number_1} {number_2}")

40 90

In [10]:
# Using the enumerate function

colors = ["red", "yellow", "green"]

list(enumerate(colors)). #This produces a list

[(0, 'red'), (1, 'yellow'), (2, 'green')]

In [11]:
# Using the enumerate function

colors = ["red", "yellow", "green"]

tuple(enumerate(colors)) # This produces a tuple

((0, 'red'), (1, 'yellow'), (2, 'green'))

In [12]:
for index, value in enumerate(colors):
    print(f" {index} : {value} ")

 0 : red
 1 : yellow
 2 : green

In [25]:
def is_valid_email(some_string):
    pos_at = some_string.find("@")
    pos_dot = some_string.find(".")
    # find returns a -1 if criterion is not found
    if pos_at == -1 or pos_dot == -1:
        return False
    if pos_at > pos_dot:
        return False
    if abs(pos_at-pos_dot) == 1:
        return False
    if some_string.count(".") > 2 or some_string.count("@") > 1:
        return False
    #if pos_at == 0 or pos_dot == len(some_string)-1:
        return False
    else:
        return True

is_valid_email("aa@aa.")

True

In [26]:
# Self Check

high_low = ("Monday", [28, 56])

day, temp_range = high_low

In [27]:
day

'Monday'

In [28]:
temp_range

[28, 56]

In [31]:
high, low = temp_range

print(high, low)

28 56

In [29]:
# Using the enumerate function

names = ["Morgan", "Yaw", "Paul"]

for index, string in list(enumerate(names)):
    print(f" {index} : {string}")

 0 : Morgan
 1 : Yaw
 2 : Paul

In [43]:
# Slicing techniques for lists, strings and tuples

numbers = [1, 2, 3, 4, 5, 10]


numbers[2:5]

[3, 4, 5]

In [34]:
# More slicing

numbers[ : 3]

[1, 2, 3]

In [35]:
# More Slicing

numbers[3 : ]

[4, 5, 10]

In [36]:
# Making a copy of the list

numbers[ : ] # This is a shallow copy

[1, 2, 3, 4, 5, 10]

In [37]:
# Stepping 

numbers[ : : 2]

[1, 3, 5]

In [38]:
# Stepping to get a reversed list

numbers[ : : -1]

[10, 5, 4, 3, 2, 1]

In [40]:
# Stepping to get a reversed list

numbers[ -1 : -7 : -1]

[10, 5, 4, 3, 2, 1]

In [41]:
# Replacing the elements of a s;ice

numbers[0 : 3] = ["Jesus", "is", "King"]

numbers

['Jesus', 'is', 'King', 4, 5, 10]

In [42]:
# Deleting elements from a slice

numbers[3 : 5] = []

numbers

['Jesus', 'is', 'King', 10]

In [46]:
numbers[ : : 2] = ["Jesus", "is", "King"]

numbers

['Jesus', 2, 'is', 4, 'King', 10]

In [49]:
# Deleting all elements from the original list

numbers[ : ] = []

numbers

[]

In [50]:
# Using the delete statement

numbers = list(range(0, 9))

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [53]:
# Delete the last element of the slice

del(numbers[-1])

numbers

[0, 1, 2, 3, 4, 5, 6]

In [54]:
# deleting a slice of numbers

del(numbers[0:2])

numbers

[2, 3, 4, 5, 6]

In [55]:
# Deleting every other element

del(numbers[ : : 2])

numbers

[3, 5]

In [59]:
# Deleting all elements in a slice

numbers = list(range(0, 10, 2))

del(numbers[ : : 2])

numbers

[2, 6]

In [61]:
# Delete a variable from the namespace/environment

del numbers

In [86]:
# Passing lists to functions

def modify_elements(items):
    """ Multiplies all element values in items by 2. """
    for index in range(len(items)):
        items[index] *= 2
    return items

In [87]:

numbers = [10, 20, 30, 40, 50]

modify_elements(numbers)

[20, 40, 60, 80, 100]

In [88]:
# The modify_elements function is  limited to just lists because tuples are NOT modifiable

number_tuple = (10, 20, 30)

modify_elements(number_tuple)

TypeError: 'tuple' object does not support item assignment

In [91]:
# Sorting

numbers = [89, 85, 62, 100, 94, 29, 11, 2]

numbers.sort()

numbers

[2, 11, 29, 62, 85, 89, 94, 100]

In [92]:
# Numbers sorted in descending order

numbers.reverse()

numbers

[100, 94, 89, 85, 62, 29, 11, 2]

In [93]:
# Sorting using the sorted function

ascending_number = sorted(numbers)

ascending_number # Does not modify the numbers list

[2, 11, 29, 62, 85, 89, 94, 100]

In [94]:
# Sorting strings

letters = "sfjnvjejskf"

ascending_letters = sorted(letters)

ascending_letters

['e', 'f', 'f', 'j', 'j', 'j', 'k', 'n', 's', 's', 'v']

In [95]:
# Sorting a tuple

colors = ("red", "green", "blue", "orange")

ascending_colors = sorted(colors)

ascending_colors #Be mindful of upper and lower cses in lexicographical order

['blue', 'green', 'orange', 'red']

In [96]:
# Self check on lexicographical ordering

food = ["Cookies", "pizza", "Grapes", "apples", "steak", "Bacon"]

food.sort()

food

['Bacon', 'Cookies', 'Grapes', 'apples', 'pizza', 'steak']

In [97]:
# Methods or functions for determine index position of values

numbers = [89, 85, 62, 100, 94, 29, 11, 2]

# determining the index of the number list

numbers.index(62)

2

In [98]:
# Lets elongate the list

numbers *= 2 

numbers

[89, 85, 62, 100, 94, 29, 11, 2, 89, 85, 62, 100, 94, 29, 11, 2]

In [99]:
# Lets determine the index of 94 starting from the 8th element 

numbers.index(11, 8)

14

In [100]:
# Does numbers contain 1000?

1000 in numbers

False

In [102]:
# Does numbers contain 1000?

1000 not in numbers

True

In [101]:
# Does numbers contain 11?

11 in numbers

True

In [103]:
key = 1000

if key in numbers:
    print(f"found {key} at index {numbers.index(key)}")

else:
    print(f"{key} not found")

1000 not found

In [104]:
# In PYTHON, ZERO is FALSE and NON-ZERO is TRUE


# Using the insert method

color_names = ["orange", "yellow", "green"]

color_names.insert(0, "red")

color_names

['red', 'orange', 'yellow', 'green']

In [107]:
# Using the append method

color_names.append("blue")

color_names # insert and append add only one element at a time to the list

['red', 'orange', 'yellow', 'green', 'blue', 'blue']

In [109]:
# To insert more than one element i.e. a list into an existing list

color_names.extend(["indigo", "voilet"])

color_names

['red', 'orange', 'yellow', 'green', 'blue', 'blue', 'indigo', 'voilet']

In [110]:
# Investigating the sample list function

sample_list = []

s = "ksdj"

sample_list.extend(s)

sample_list

['k', 's', 'd', 'j']

In [112]:
# Investigating the sample list function

sample_list = []

s = ["ksdj"]

sample_list.extend(s)

sample_list

['ksdj']

In [113]:
# Passing a tuple into the extend function

t = (1, 2, 3)

sample_list.extend(t)

sample_list         # extend method requires just one argument

['ksdj', 1, 2, 3]

In [114]:
# Passing another tuple

sample_list.extend((10, 20, 30))

sample_list

['ksdj', 1, 2, 3, 10, 20, 30]

In [115]:
# Removing a string from

color_names.remove("blue")

color_names

['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'voilet']

In [116]:
# Deleting all elements of a list

color_names[ : ] = []

color_names

[]

In [118]:
# Counting up elements in a list

responses = [2, 5, 6 , 9, 2, 8, 5, 6, 3, 7, 9, 2, 1]

for index in range(1, 10):
    print(f"{index} appears {responses.count(index)} times in responses")

1 appears 1 times in responses
2 appears 3 times in responses
3 appears 1 times in responses
4 appears 0 times in responses
5 appears 2 times in responses
6 appears 2 times in responses
7 appears 1 times in responses
8 appears 1 times in responses
9 appears 2 times in responses

In [120]:
# Reversing a list element

color_names = ["orange", "yellow", "green"]

color_names.reverse()

color_names

['green', 'yellow', 'orange']

In [122]:
# Shallow copy

copied_color_names = color_names.copy()

copied_color_names

['green', 'yellow', 'orange']

In [123]:
# Self Check

rainbow = ["red", "orange", "yellow", "green", "blue", "indigo", "voilet"]

# Determining the index of voilet

rainbow.index("voilet")

6

In [124]:
# Inserting voilet at index 0

rainbow.insert(0, "voilet")

rainbow

['voilet', 'red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'voilet']

In [125]:
# Deleting voilet at -1

del(rainbow[7])

rainbow

['voilet', 'red', 'orange', 'yellow', 'green', 'blue', 'indigo']

In [126]:
# Appending yellow to the end of the list

rainbow.append("yellow")

rainbow

['voilet', 'red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'yellow']

In [129]:
# Reversing elements in the list

rainbow.reverse()

rainbow

['yellow', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red', 'voilet']

In [130]:
# Deleting the orange element

# Lets see the index of orange

rainbow.index("orange")

5

In [131]:
# Deleting the "orange" element in the list

del(rainbow[5])

rainbow

['yellow', 'indigo', 'blue', 'green', 'yellow', 'red', 'voilet']

In [134]:
# Deleting more than one element

del(rainbow[5:7])

rainbow

['yellow', 'indigo', 'blue', 'green', 'yellow']

In [143]:
# Deleting a group of colors

rainbow.remove("yellow")

rainbow

['indigo', 'blue', 'green', 'yellow']

In [141]:
rainbow

['yellow', 'indigo', 'blue', 'green', 'yellow']

In [144]:
# A stack is a last in first out data structure

stack = []

stack.append("red")

stack

['red']

In [146]:
stack.append("green")

stack

['red', 'green', 'green']

In [148]:
stack.pop()

'green'

In [149]:
stack

['red', 'green']

In [150]:
# List comprehensions

list_1 = []

for item in range(1, 6):
    list_1.append(item)

list_1

[1, 2, 3, 4, 5]

In [151]:
# List comprehensions

list_2 = [item for item in range(1, 6)]

list_2

[1, 2, 3, 4, 5]

In [152]:
# List comprehensions

list_3 = [item ** 3 for item in range(1, 6)]

list_3

[1, 8, 27, 64, 125]

In [153]:
# list comprehension 4

list_4 = [ item for item in range(1, 11) if item % 2 == 0 ]

list_4

[2, 4, 6, 8, 10]

In [154]:
colors = [ "red", "blue", "green", "yellow"]

colors_2 = [item.upper() for item in colors]

colors_2

['RED', 'BLUE', 'GREEN', 'YELLOW']

In [155]:
numbers = tuple(range(1, 6))

number_2 = [ (item, item ** 3) for item in numbers ]

number_2

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

In [157]:
multiples = [ item for item in range(1, 30) if item % 3 == 0 ]

multiples

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [159]:
# Filter, Map and Reduce


numbers = [10, 4, 5, 8, 29, 2, 9, 4]

# Lets define a flitering function 

def is_odd(x):
    """ This functionreturns True if x is odd """
    return x % 2 != 0

list(filter(is_odd, numbers))

[5, 29, 9]

In [160]:
list_2 = [ item for item in numbers if is_odd(item)]

list_2

[5, 29, 9]

In [161]:
# For simple functions, you can define the function inline 

list( filter(lambda x: x % 2 != 0, numbers) )

[5, 29, 9]

In [162]:
# Using a map function

list(map(lambda x: x ** 2, numbers))

[100, 16, 25, 64, 841, 4, 81, 16]

In [163]:
list_3 = [ item ** 3 for item in numbers]

list_3

[1000, 64, 125, 512, 24389, 8, 729, 64]

In [167]:
list( map(lambda x: x ** 2, filter(lambda x: x % 2 != 0, numbers)))

[25, 841, 81]

In [169]:
# Performing code block 167 using list comprehension

[ item ** 2 for item in numbers if item % 2 == 0]

[100, 16, 64, 4, 16]

In [171]:
numbers = list(range(1,16))

list(filter(lambda x: x % 2 == 0, numbers))

[2, 4, 6, 8, 10, 12, 14]

In [172]:
list(map(lambda x: x ** 2, numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

In [173]:
list_4 = list(map(lambda x: x ** 2, filter(lambda x: x % 2 == 0, numbers)))

list_4

[4, 16, 36, 64, 100, 144, 196]

In [175]:
# Fahrenheit to Celsius

Fahrenheit = [41, 32, 212]

tuple(map(lambda x: (x, (x - 32) * (5/9)), Fahrenheit))

((41, 5.0), (32, 0.0), (212, 100.0))

In [176]:
# Min and Max functions

# Remember that upper-case letters are ordered before lower case letters hence,

"Red" < "orange"

# You can check the ordering by using the ord() function

True

In [177]:
colors = ["Red", "green", "0range", "indigo"]

min(colors, key = lambda s: s.lower())

'green'

In [178]:
max(colors, key= lambda s: s.lower())

'red'

In [179]:
# Producing an iterator with the reverse function

numbers = [10, 4, 5, 8, 29, 2, 9, 4]

reversed_numbers = [ item ** 2 for item in reversed(numbers) ]

reversed_numbers

[16, 81, 4, 841, 64, 25, 16, 100]

In [181]:
# Using the zip function/generator

names = ["Marvin", "Maame", "George"]

gpa = [3.5, 4.0, 3.2]


for names, gpa in zip(names, gpa):
    print(f"Name = {names}; GPA = {gpa}")

Name = Marvin; GPA = 3.5
Name = Maame; GPA = 4.0
Name = George; GPA = 3.2

In [182]:
numbers_1 = [10, 20, 30, 40, 9, 4, 2, 7]


numbers_2 = [9, 2, 4, 5, 6, 100]

for numbers_1, numbers_2 in zip(numbers_1, numbers_2):
    print(f"sum of the two corresponding  indeices = {numbers_1 + numbers_2}")

sum of the two corresponding  indeices = 19
sum of the two corresponding  indeices = 22
sum of the two corresponding  indeices = 34
sum of the two corresponding  indeices = 45
sum of the two corresponding  indeices = 15
sum of the two corresponding  indeices = 104

In [183]:
# Two Dimensional Lists 

# Every lists within the list is a row

a = [[90,78,45,32], [98,43,65,23],[67,45,43,93]]

# a has three rows and 4 columns


# Nested for loop

for row in a:
    for item in row:
        print(item, end=" ")
    print()

90 78 45 32
98 43 65 23
67 45 43 93