In [1]:
# Working with Dictionaries

country_codes = {"Finland" : "fi", "South Africa" : "za", "Nepal" : "np"}

country_codes

{'Finland': 'fi', 'South Africa': 'za', 'Nepal': 'np'}

In [2]:
len(country_codes)

3

In [3]:
# Conditional statement with dictionaries, lists and tuples

if country_codes:
    print("country codes is not empty")

else:
    print("country codes is empty")

country codes is not empty

In [4]:
# When empty

country_codes.clear()

if country_codes:
    print("country codes is not empty")

else:
    print("country codes is empty")

country codes is empty

In [5]:
states = { "Vermont" : "Ver", "New Hampshire" : "NH", "Massachusetts" : "MA"}

states

{'Vermont': 'Ver', 'New Hampshire': 'NH', 'Massachusetts': 'MA'}

In [7]:
# Iterating over a dictionary

days_per_month = {"January" : 31, "Febuary" : 28, "March" : 31}

for month, day in days_per_month.items():
    print(f"{month} has {day} days")

January has 31 days
Febuary has 28 days
March has 31 days

In [9]:
# modifying a dictionary

roman_numerals = {"I" : 1, "II" : 2, "III" : 3, "X" : 1000}

roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'X': 1000}

In [10]:
# Indexing dictionaries

roman_numerals["III"]

3

In [11]:
# Modifying dictionaries

roman_numerals["X"] = 10

roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'X': 10}

In [12]:
# Adding an element to the dictionary

roman_numerals["L"] = 50


roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'X': 10, 'L': 50}

In [13]:
# Deleting elements from a dictionary

del roman_numerals["III"]

roman_numerals

{'I': 1, 'II': 2, 'X': 10, 'L': 50}

In [14]:
roman_numerals.pop("X")

roman_numerals

{'I': 1, 'II': 2, 'L': 50}

In [15]:
roman_numerals.get("I")

1

In [16]:
"I" in roman_numerals

True

In [17]:
"III" in roman_numerals

False

In [19]:
days_per_month = {"January" : 31, "Febuary" : 28, "March" : 31}

for month_name in days_per_month.keys():
    print(month_name, end=" ")

January Febuary March

In [21]:
for month_number in days_per_month.values():
    print(month_number, end=" ")

31 28 31

In [22]:
month_view = days_per_month.keys()

days_per_month["April"] = 30

days_per_month

{'January': 31, 'Febuary': 28, 'March': 31, 'April': 30}

In [23]:
for month_name in days_per_month.keys():
    print(month_name, end=" ")

January Febuary March April

In [24]:
list(days_per_month.items())

[('January', 31), ('Febuary', 28), ('March', 31), ('April', 30)]

In [25]:
for month_name in sorted(days_per_month.keys()):
    print(month_name, end=" ")

April Febuary January March

In [26]:
# Dictionary Comparisons

country_capitals1 = {"Belgium" : "Brussels", "Haiti" : "Port-au-Prince"}

country_capitals2 = {"Nepal" : "Kathmandu", "Uruguay" : "Montevideo"}

country_capitals3 = {"Haiti" : "Port-au-Prince", "Belgium" : "Brussels"}

In [27]:
country_capitals1 == country_capitals2

False

In [28]:
country_capitals1 == country_capitals3

True

In [50]:
import random

from collections import Counter

numbers = [random.randrange(1,6) for index in range(50)]

numbers


# Building a dictionary with the numbers and count
numbers_count = Counter(numbers)

for number, count in sorted(numbers_count.items()):
    print(f"{number} : {count}")

1 : 11
2 : 10
3 : 10
4 : 9
5 : 10

In [55]:
# Updating Dictionaries

country_codes = {}

country_codes.update({"South Africa" : "za", "Ghana" : "gh"})

country_codes

{'South Africa': 'za', 'Ghana': 'gh'}

In [56]:
country_codes.update({"Australia" : "ar"})

country_codes

{'South Africa': 'za', 'Ghana': 'gh', 'Australia': 'ar'}

In [57]:
country_codes.update({"Australia" : "au"})


country_codes

{'South Africa': 'za', 'Ghana': 'gh', 'Australia': 'au'}

In [61]:
# Dictionary Comprehension

# Note that the keys are unique

months = {"January" : 1 , "February" : 2 , "March" : 3}

months2 = {number: name for name, number in months.items()}

months2

{1: 'January', 2: 'February', 3: 'March'}

In [62]:
grades = {"Sue" : [98, 87, 94] , "Bob" : [84, 95, 91]}

grades_2 = { k : sum(v) / len(v) for k, v in grades.items()}

grades_2

{'Sue': 93.0, 'Bob': 90.0}

In [64]:
numbers = { 1 : 1, 2 : 2, 3 : 3, 4 : 4, 5 : 5}

numbers_2 = {m : n ** 3 for m, n in numbers.items()}

numbers_2

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [66]:
# Set collection: unordered collection of unique values


colours = {"red", "orange", "yellow", "green", "red", "blue"} # watchout for duplicate elimination

colours

{'blue', 'green', 'orange', 'red', 'yellow'}

In [67]:
len(colours)

5

In [68]:
"yellow" in colours

True

In [69]:
"purple" not in colours

True

In [72]:
for colour in colours:
    print(colour.upper(), end=" ")

GREEN ORANGE RED BLUE YELLOW

In [73]:
numbers = list(range(10)) + list(range(5))

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4]

In [74]:
set(numbers)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [75]:
# Empty set

set()

set()

In [78]:
text = "to be or not to be is the question"

sorted(set(text.split()))

['be', 'is', 'not', 'or', 'question', 'the', 'to']

In [79]:
for word in sorted(set(text.split())):
    print(word, end=" ")

be is not or question the to

In [80]:
# Comparing sets

{1, 3, 5} == {3, 5, 1}

True

In [81]:
{1, 3, 5} != {3, 5, 1}

False

In [82]:
{1, 3, 5} < {3, 5, 1}

False

In [84]:
{1, 3, 5} < {3, 5, 1, 10}

True

In [85]:
{1, 3, 5} <= {3, 5, 1}

True

In [86]:
# Mathematical Set Operations

# Union Operation

{1, 2, 3, 4} | {1, 5, 9}

{1, 2, 3, 4, 5, 9}

In [87]:
# Or

{1, 2, 3, 4}.union({1, 5, 9})

{1, 2, 3, 4, 5, 9}

In [88]:
# Or

{1, 2, 3, 4}.union([ 20, 3, 20, 40])

{1, 2, 3, 4, 20, 40}

In [89]:
# Intersection Operation

{1, 2, 3, 4} & {1, 5, 9}

{1}

In [90]:
{1, 2, 3, 4}.intersection([ 20, 3, 20, 40])

{3}

In [91]:
# Difference of sets

{1, 3, 5} - {2, 3, 4}

{1, 5}

In [92]:
{1, 3, 5} ^ {2, 3, 4}

{1, 2, 4, 5}

In [93]:
{1, 3, 5}.isdisjoint([2, 2, 3, 3, 4, 4])

False

In [94]:
{1, 3, 5}.symmetric_difference([2, 2, 3, 3, 4, 4])

{1, 2, 4, 5}

In [95]:
# Modifying sets

numbers = {1, 3, 5}

numbers |= {2, 3, 4}

numbers

{1, 2, 3, 4, 5}

In [96]:
numbers.update(range(10))

numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [97]:
# Adding numbers to a set

numbers.add(17)

numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 17}

In [100]:
numbers.remove(2)

KeyError: 2

In [101]:
numbers

{0, 1, 3, 4, 5, 6, 7, 8, 9, 17}

In [ ]:
# Set comprehension

evens = { number for number in range(100) if number % 2 == 0 }

evens